# ==============================================================================
# KONFIGURASI AWS & APLIKASI INVENTARIS LAB TKJ
# Salin file ini menjadi .env: cp sample.env .env
# ==============================================================================

# AWS Region (contoh: ap-southeast-1, us-east-1)
AWS_DEFAULT_REGION=us-east-1

# Nama Tabel DynamoDB
DYNAMODB_TABLE_NAME=tkj_inventory

# Nama Bucket S3 (Private - Block Public Access ON)
S3_BUCKET_NAME=tkj-inventory-photos-smk

# Kredensial AWS (Dari IAM User atau AWS Learner Lab / Academy)
AWS_ACCESS_KEY_ID=ASIAR...
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCY...

# AWS Session Token (Wajib diisi jika menggunakan AWS Academy / Learner Lab, kosongkan jika IAM User biasa)
AWS_SESSION_TOKEN=IQoJb3JpZ2luX2VjE...

# Port Server Aplikasi
PORT=5000
